.container {
    display: flex;
    flex-direction: row;
}
nav {
    float: left;
    width: 100%;
}

aside {
    float: right;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}